news-briefing-n8n.json
{
  "name": "오늘의 브리핑 - 매일 9시 (Vercel KV + Gmail)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 0 * * *" }]
        }
      },
      "id": "cron-trigger",
      "name": "매일 오전 9시 KST (UTC 0시)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [180, 300],
      "notes": "한국 9시 = UTC 0시. n8n 서버 시간이 UTC 기준일 때"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "={{ $vars.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "anthropic-beta", "value": "web-search-2025-03-05" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4000,\n  \"tools\": [{\"type\": \"web_search_20250305\", \"name\": \"web_search\"}],\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"오늘({{ $now.setZone('Asia/Seoul').toFormat('yyyy년 MM월 dd일') }}) 한국 주요 뉴스를 검색해서 정치, 경제, 사회, 연예/문화, IT·테크, 국제 카테고리별로 핵심 뉴스 1~2개씩 제목, 내용 요약, 기사 URL을 포함해서 알려줘.\"\n  }]\n}"
      },
      "id": "step1-search",
      "name": "1단계: 뉴스 검색",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "jsCode": "const content = $input.item.json.content || [];\nconst newsText = content.filter(b => b.type === 'text').map(b => b.text).join('\\n');\nif (!newsText || newsText.length < 30) throw new Error('뉴스 검색 결과 없음');\nreturn [{ json: { newsText } }];"
      },
      "id": "extract-text",
      "name": "검색 텍스트 추출",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "={{ $vars.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4000,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"아래 뉴스를 이 JSON 형식으로만 변환해. 다른 텍스트, 마크다운, 코드블록 없이 JSON만 출력. url은 실제 기사 링크, 없으면 빈 문자열.\\n\\n뉴스:\\n{{ $json.newsText }}\\n\\n형식:\\n{\\\"categories\\\":[{\\\"name\\\":\\\"정치\\\",\\\"items\\\":[{\\\"headline\\\":\\\"제목\\\",\\\"summary\\\":\\\"2~3문장 요약\\\",\\\"why\\\":\\\"중요한 이유 한 줄\\\",\\\"url\\\":\\\"https://...\\\"}]},{\\\"name\\\":\\\"경제\\\",\\\"items\\\":[{\\\"headline\\\":\\\"제목\\\",\\\"summary\\\":\\\"요약\\\",\\\"why\\\":\\\"이유\\\",\\\"url\\\":\\\"\\\"}]},{\\\"name\\\":\\\"사회\\\",\\\"items\\\":[{\\\"headline\\\":\\\"제목\\\",\\\"summary\\\":\\\"요약\\\",\\\"why\\\":\\\"이유\\\",\\\"url\\\":\\\"\\\"}]},{\\\"name\\\":\\\"연예/문화\\\",\\\"items\\\":[{\\\"headline\\\":\\\"제목\\\",\\\"summary\\\":\\\"요약\\\",\\\"why\\\":\\\"이유\\\",\\\"url\\\":\\\"\\\"}]},{\\\"name\\\":\\\"IT·테크\\\",\\\"items\\\":[{\\\"headline\\\":\\\"제목\\\",\\\"summary\\\":\\\"요약\\\",\\\"why\\\":\\\"이유\\\",\\\"url\\\":\\\"\\\"}]},{\\\"name\\\":\\\"국제\\\",\\\"items\\\":[{\\\"headline\\\":\\\"제목\\\",\\\"summary\\\":\\\"요약\\\",\\\"why\\\":\\\"이유\\\",\\\"url\\\":\\\"\\\"}]}]}\"\n  }]\n}"
      },
      "id": "step2-format",
      "name": "2단계: JSON 변환",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "jsCode": "// JSON 파싱\nconst content = $input.item.json.content || [];\nlet raw = content.filter(b => b.type === 'text').map(b => b.text).join('\\n').trim();\nraw = raw.replace(/^```[a-z]*\\s*/i, '').replace(/\\s*```$/, '').trim();\nconst s = raw.indexOf('{');\nconst e = raw.lastIndexOf('}');\nif (s < 0 || e < 0) throw new Error('JSON을 찾을 수 없음');\nconst parsed = JSON.parse(raw.slice(s, e + 1));\nif (!Array.isArray(parsed.categories)) throw new Error('categories 없음');\n\n// updatedAt 추가\nparsed.updatedAt = new Date().toISOString();\n\n// 이메일 HTML 생성\nconst today = new Date();\nconst dateStr = today.toLocaleDateString('ko-KR', {year:'numeric',month:'long',day:'numeric',weekday:'long'});\nconst siteUrl = process.env.SITE_URL || 'https://your-site.vercel.app';\n\nlet itemsHtml = '';\nparsed.categories.forEach(cat => {\n  itemsHtml += `<tr><td style=\"padding:20px 0 8px\"><p style=\"margin:0;font-size:10px;font-weight:700;letter-spacing:0.25em;color:#b5451b;text-transform:uppercase;border-bottom:1px solid #c8c0b0;padding-bottom:8px\">${cat.name}</p></td></tr>`;\n  (cat.items || []).forEach(item => {\n    const hl = item.url ? `<a href=\"${item.url}\" style=\"color:#1a1a1a;text-decoration:none;border-bottom:1px solid #c8c0b0\">${item.headline}</a>` : item.headline;\n    itemsHtml += `<tr><td style=\"padding:10px 0 14px;border-bottom:1px solid #ede8dc\">\n      <p style=\"margin:0 0 6px;font-size:15px;font-weight:600;line-height:1.5;color:#1a1a1a\">${hl}</p>\n      <p style=\"margin:0 0 6px;font-size:13px;line-height:1.7;color:#4a4540;font-weight:300\">${item.summary}</p>\n      ${item.why ? `<p style=\"margin:4px 0 0;font-size:11px;color:#7a7068;font-style:italic;padding-left:8px;border-left:2px solid #c9a84c\">${item.why}</p>` : ''}\n      ${item.url ? `<p style=\"margin:8px 0 0\"><a href=\"${item.url}\" style=\"font-size:11px;color:#b5451b;text-decoration:none\">기사 원문 →</a></p>` : ''}\n    </td></tr>`;\n  });\n});\n\nconst emailHtml = `<!DOCTYPE html><html lang=\"ko\"><head><meta charset=\"UTF-8\"></head>\n<body style=\"margin:0;padding:0;background:#f0ebe2\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f0ebe2\">\n<tr><td align=\"center\" style=\"padding:30px 16px\">\n<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;background:#f5f0e8\">\n  <tr><td style=\"padding:32px 36px 20px;border-bottom:3px double #c8c0b0;text-align:center\">\n    <p style=\"margin:0 0 6px;font-size:10px;letter-spacing:0.3em;color:#7a7068;text-transform:uppercase\">Daily Intelligence</p>\n    <h1 style=\"margin:0;font-size:36px;font-weight:700;color:#1a1a1a;letter-spacing:-0.02em\">오늘의 브리핑</h1>\n    <p style=\"margin:10px 0 0;font-size:12px;color:#7a7068;letter-spacing:0.1em\">${dateStr}</p>\n  </td></tr>\n  <tr><td style=\"padding:0 36px 24px\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">${itemsHtml}</table>\n  </td></tr>\n  <tr><td style=\"padding:16px 36px;border-top:3px double #c8c0b0;text-align:center\">\n    <p style=\"margin:0 0 8px;font-size:11px;color:#7a7068\">AI가 오늘의 주요 뉴스를 선별합니다</p>\n    <a href=\"${siteUrl}\" style=\"font-size:12px;color:#b5451b;text-decoration:none;letter-spacing:0.05em\">웹에서 보기 →</a>\n  </td></tr>\n</table>\n</td></tr>\n</table></body></html>`;\n\nreturn [{ json: { briefingData: parsed, emailHtml, dateStr } }];"
      },
      "id": "build-payload",
      "name": "JSON 파싱 + 이메일 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SITE_URL }}/api/briefing",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-secret-key", "value": "={{ $vars.BRIEFING_SECRET_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.briefingData) }}"
      },
      "id": "save-to-kv",
      "name": "Vercel KV에 저장",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, 200],
      "notes": "SITE_URL 예: https://your-site.vercel.app"
    },
    {
      "parameters": {
        "sendTo": "={{ $vars.RECIPIENT_EMAIL }}",
        "subject": "=📰 오늘의 브리핑 — {{ $now.setZone('Asia/Seoul').toFormat('M월 d일') }}",
        "emailType": "html",
        "message": "={{ $json.emailHtml }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Gmail 발송",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1280, 420],
      "notes": "RECIPIENT_EMAIL 변수에 수신 이메일 주소 설정"
    }
  ],
  "connections": {
    "매일 오전 9시 KST (UTC 0시)": { "main": [[{ "node": "1단계: 뉴스 검색", "type": "main", "index": 0 }]] },
    "1단계: 뉴스 검색": { "main": [[{ "node": "검색 텍스트 추출", "type": "main", "index": 0 }]] },
    "검색 텍스트 추출": { "main": [[{ "node": "2단계: JSON 변환", "type": "main", "index": 0 }]] },
    "2단계: JSON 변환": { "main": [[{ "node": "JSON 파싱 + 이메일 생성", "type": "main", "index": 0 }]] },
    "JSON 파싱 + 이메일 생성": {
      "main": [[
        { "node": "Vercel KV에 저장", "type": "main", "index": 0 },
        { "node": "Gmail 발송", "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
